# ===== PYTHON =====
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
.venv/
*.egg-info/
dist/
build/

# ===== R =====
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
Add combinded Python and R .gitignore
